<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <div style="width: 1000px; height: 500px; background-color: aqua;" class="container">
        <div style="width: 1000px; height: 100px; background-color: red;" class="menu">Menu</div>
        <div style="width: 1000px; height: 100px; background-color: green;" class="banner">Banner</div>
        <div style="width: 1000px;background-color: brown;"class="content">
            <div style="width: 300px;height: 500px;background-color: beige;" class="content1">Content1</div>
            <div style="width: 300px;height: 500px;background-color: yellow;" class="content2">Content2</div>
            <div style="width: 300px;height: 500px;background-color: black;" class="content3">Content3</div>
        </div>
    </div>
</body>
</html>